  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:ital,wght@0,300;0,400;1,400&family=Share+Tech+Mono&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  align-items: center;
}

body{
  background-color: #212139;
  color: #fff;
  align-items: center;
}

a{
  color:  #fff;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

.contenedor{
  max-width: 800px;
  width: 90%;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
}

label{
  line-height: 40px;
}

input{
  text-align: center;
  
}
